wsdl/rns/rns.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
	name="RNS"
	targetNamespace="http://schemas.ggf.org/rns/2006/05/rns"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:rns="http://schemas.ggf.org/rns/2006/05/rns"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:genii-common="http://vcgr.cs.virginia.edu/genii/2006/12/common"
	xmlns:rpw-2="http://docs.oasis-open.org/wsrf/rpw-2"
    xmlns:rw-2="http://docs.oasis-open.org/wsrf/rw-2"
	xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2"
	xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" 
    xmlns:genii-ext="http://vcgr.cs.virginia.edu/genii/2006/12/wsdl-extensions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/rw-2"
		location="./wsrf/wsResourceFaults.wsdl"/>

	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://schemas.ggf.org/rns/2006/05/rns">

            <xsd:import
        		namespace="http://schemas.ggf.org/rns/2006/05/rns"
            	schemaLocation="./rns.xsd"/>

			<xsd:element name="list">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_name_regexp" type="xsd:string"
							minOccurs="1" maxOccurs="1"
							nillable="true"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="listResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="EntryList" type="rns:EntryListType"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
	
			<xsd:element name="createFile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="filename" type="xsd:string"
							minOccurs="1" maxOccurs="1" nillable="false"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="createFileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_reference"
							type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="add">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_name" type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
						<xsd:element
							name="entry_reference"
							type="wsa:EndpointReferenceType"
							minOccurs="0" maxOccurs="1"
							nillable="true"/>
                        <xsd:any namespace="##any" processContents="lax" 
                        	minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="addResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_reference"
							type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="move">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_parent"
							type="wsa:EndpointReferenceType"
							minOccurs="0" maxOccurs="1"/>
						<xsd:element
							name="entry_name"
							type="xsd:string"
							minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="moveResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_reference"
							type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="query">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entry-pattern"
							type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="EntryProperties"
							type="rns:EntryPropertiesType"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="remove">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_name" type="xsd:string"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="removeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="entry_name" type="xsd:string"
							minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="createFileRequest">
		<wsdl:part name="createFileRequest" element="rns:createFile"/>
	</wsdl:message>

	<wsdl:message name="createFileResponse">
		<wsdl:part name="createFileResponse" 
			element="rns:createFileResponse"/>
	</wsdl:message>
	
	<wsdl:message name="addRequest">
		<wsdl:part name="addRequest" element="rns:add"/>
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part name="addResponse" element="rns:addResponse"/>
	</wsdl:message>

	<wsdl:message name="listRequest">
		<wsdl:part name="listRequest" element="rns:list"/>
	</wsdl:message>
	<wsdl:message name="listResponse">
		<wsdl:part name="listResponse" element="rns:listResponse"/>
	</wsdl:message>

	<wsdl:message name="moveRequest">
		<wsdl:part name="moveRequest" element="rns:move"/>
	</wsdl:message>
	<wsdl:message name="moveResponse">
		<wsdl:part name="moveResponse" element="rns:moveResponse"/>
	</wsdl:message>

	<wsdl:message name="queryRequest">
		<wsdl:part name="queryRequest" element="rns:query"/>
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part name="queryResponse" element="rns:queryResponse"/>
	</wsdl:message>

	<wsdl:message name="removeRequest">
		<wsdl:part name="removeRequest" element="rns:remove"/>
	</wsdl:message>
	<wsdl:message name="removeResponse">
		<wsdl:part name="removeResponse" element="rns:removeResponse"/>
	</wsdl:message>

    <wsdl:message name="RNSFault">
        <wsdl:part name="RNSFault" element="rns:RNSFaultType"/>
    </wsdl:message>
    <wsdl:message name="RNSDirectoryNotEmptyFault">
        <wsdl:part name="RNSDirectoryNotEmptyFault"
			element="rns:RNSDirectoryNotEmptyFaultType"/>
    </wsdl:message>
    <wsdl:message name="RNSEntryExistsFault">
        <wsdl:part name="RNSEntryExistsFault"
			element="rns:RNSEntryExistsFaultType"/>
    </wsdl:message>
    <wsdl:message name="RNSEntryNotDirectoryFault">
        <wsdl:part name="RNSEntryNotDirectoryFault"
			element="rns:RNSEntryNotDirectoryFaultType"/>
    </wsdl:message>


	<wsdl:portType name="RNSPortType">

		<wsdl:operation name="createFile">
			<wsdl:input message="rns:createFileRequest"/>
			<wsdl:output message="rns:createFileResponse"/>
			<wsdl:fault name="RNSFault"
				message="rns:RNSFault"/>
			<wsdl:fault name="RNSEntryExistsFault"
				message="rns:RNSEntryExistsFault"/>
			<wsdl:fault name="RNSEntryNotDirectoryFault"
				message="rns:RNSEntryNotDirectoryFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="wsrf-rw:ResourceUnknownFault"/>
		</wsdl:operation>
	
		<wsdl:operation name="add">
			<wsdl:input message="rns:addRequest"/>
			<wsdl:output message="rns:addResponse"/>
			<wsdl:fault name="RNSFault"
				message="rns:RNSFault"/>
			<wsdl:fault name="RNSEntryExistsFault"
				message="rns:RNSEntryExistsFault"/>
			<wsdl:fault name="RNSEntryNotDirectoryFault"
				message="rns:RNSEntryNotDirectoryFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="wsrf-rw:ResourceUnknownFault"/>
		</wsdl:operation>

		<wsdl:operation name="list">
			<wsdl:input message="rns:listRequest"/>
			<wsdl:output message="rns:listResponse"/>
			<wsdl:fault name="RNSFault"
				message="rns:RNSFault"/>
			<wsdl:fault name="RNSEntryNotDirectoryFault"
				message="rns:RNSEntryNotDirectoryFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="wsrf-rw:ResourceUnknownFault"/>
		</wsdl:operation>

		<wsdl:operation name="move">
			<wsdl:input message="rns:moveRequest"/>
			<wsdl:output message="rns:moveResponse"/>
			<wsdl:fault name="RNSFault"
				message="rns:RNSFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="wsrf-rw:ResourceUnknownFault"/>
		</wsdl:operation>
	
		<wsdl:operation name="query">
			<wsdl:input message="rns:queryRequest"/>
			<wsdl:output message="rns:queryResponse"/>
			<wsdl:fault name="RNSFault"
				message="rns:RNSFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="wsrf-rw:ResourceUnknownFault"/>
		</wsdl:operation>

		<wsdl:operation name="remove">
			<wsdl:input message="rns:removeRequest"/>
			<wsdl:output message="rns:removeResponse"/>
			<wsdl:fault name="RNSFault"
				message="rns:RNSFault"/>
			<wsdl:fault name="RNSDirectoryNotEmptyFault"
				message="rns:RNSDirectoryNotEmptyFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="wsrf-rw:ResourceUnknownFault"/>
		</wsdl:operation>
	</wsdl:portType>

</wsdl:definitions>
