wsdl/naming.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="GeniiNaming"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:naming-w="http://schemas.ogf.org/naming/2006/08/naming/wsdl"
    xmlns:naming="http://schemas.ogf.org/naming/2006/08/naming"
	xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2"
	xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" 
    targetNamespace="http://schemas.ogf.org/naming/2006/08/naming/wsdl">

<!-- imports -->

	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/rw-2"
		location="wsrf/wsResourceFaults.wsdl"/>


<!-- ===== Types Definitions ==== -->
    <wsdl:types>

        <xsd:schema
            targetNamespace="http://schemas.ogf.org/naming/2006/08/naming/wsdl"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
			<xsd:import
				namespace="http://schemas.ogf.org/naming/2006/08/naming"
				schemaLocation="./naming.xsd"/>

<!-- Message Helper Types -->
			<xsd:element name="resolve"/>

        </xsd:schema>
    </wsdl:types>

	<!-- Messages -->
	<wsdl:message name="ResolveEPI">
		<wsdl:part name="EPI"
			element="naming:EndpointIdentifier"/>
	</wsdl:message>

	<wsdl:message name="Resolve">
    	<wsdl:part name="resolveRequest"
    		element="naming-w:resolve"/>
	</wsdl:message>

	<wsdl:message name="ResolveResponse">
		<wsdl:part name="resolved-epr"
			element="wsa:EndpointReference"/>
	</wsdl:message>

	<!-- Faults -->
	<wsdl:message name="ResolveFailedFault">
		<wsdl:part name="ResolveFailedFault"
			element="naming:ResolveFailedFault"/>
	</wsdl:message>
	
	<wsdl:message name="ResolveFailedWithReferralFault">
		<wsdl:part name="ResolveFailedWithReferralFault"
			element="naming:ResolveFailedWithReferralFault"/>
	</wsdl:message>

	<!-- Port Type Definitions -->
	<wsdl:portType name="EndpointIdentifierResolver">
		<wsdl:operation name="resolveEPI">
			<wsdl:input message="naming-w:ResolveEPI"/>
			<wsdl:output message="naming-w:ResolveResponse"/>
        	<wsdl:fault name="ResolveFailedFault"
            	message="naming-w:ResolveFailedFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ReferenceResolver">
		<wsdl:operation name="resolve">
			<wsdl:input message="naming-w:Resolve"/>
			<wsdl:output message="naming-w:ResolveResponse"/>
        	<wsdl:fault name="ResolveFailedFault"
            	message="naming-w:ResolveFailedFault"/>
        	<wsdl:fault name="ResolveFailedWithReferralFault"
            	message="naming-w:ResolveFailedWithReferralFault"/>
		</wsdl:operation>
	</wsdl:portType>

</wsdl:definitions>
