wsdl/resource-factory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="GeniiResourceFactory"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:genii-resource="http://vcgr.cs.virginia.edu/genii/2006/12/resource"
    xmlns:genii-rfact="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory"
    targetNamespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory">

	<wsdl:import
		namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource"
		location="./resource.wsdl"/>

<!-- ===== Types Definitions ==== -->
    <wsdl:types>

        <xsd:schema
            targetNamespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

            <xsd:import
            	namespace="http://www.w3.org/2005/08/addressing"
            	schemaLocation="./ws-addr.xsd"/>

			<xsd:import
				namespace="http://vcgr.cs.virginia.edu/genii/2006/06/resource-factory"
				schemaLocation="./resource-factory.xsd"/>

			<xsd:import
				namespace="http://vcgr.cs.virginia.edu/genii/2006/06/resource"
				schemaLocation="./resource.xsd"/>

			<xsd:import
				namespace="http://vcgr.cs.virginia.edu/genii/2006/12/context"
				schemaLocation="./context.xsd"/>

<!-- Message Helper Types -->
			<xsd:element name="vcgrCreate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace="##any" processContents="lax"
							minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="vcgrCreateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="endpoint"
							type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1" nillable="false"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

        </xsd:schema>
    </wsdl:types>

    <!-- Fault Messages -->
    <wsdl:message name="ResourceCreationFault">
        <wsdl:part name="ResourceCreationFault"
            element="genii-rfact:ResourceCreationFaultType"/>
    </wsdl:message>

	<!-- Creation -->
	<wsdl:message name="vcgrCreateRequest">
		<wsdl:part name="vcgrCreateRequest"
			element="genii-rfact:vcgrCreate"/>
	</wsdl:message>

	<wsdl:message name="vcgrCreateResponse">
		<wsdl:part name="vcgrCreateResponse"
			element="genii-rfact:vcgrCreateResponse"/>
	</wsdl:message>

	<!-- Port Type Definitions -->
	<wsdl:portType name="GeniiResourceFactory">

		<wsdl:operation name="vcgrCreate">
			<wsdl:input message="genii-rfact:vcgrCreateRequest"/>
			<wsdl:output message="genii-rfact:vcgrCreateResponse"/>
			<wsdl:fault name="ResourceCreationFault"
				message="genii-rfact:ResourceCreationFault"/>
			<wsdl:fault name="ResourceUnknownFault"
				message="genii-resource:ResourceUnknownFault"/>
		</wsdl:operation>

	</wsdl:portType>

</wsdl:definitions>
