wsdl/resource-attributes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="GeniiResourceAttrs"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:genii-rattrs="http://vcgr.cs.virginia.edu/genii/2006/12/resource-attrs"
    xmlns:genii-resource="http://vcgr.cs.virginia.edu/genii/2006/12/resource"
    targetNamespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-attrs">

	<wsdl:import
		namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource"
		location="./resource.wsdl"/>

<!-- ===== Types Definitions ==== -->
    <wsdl:types>

        <xsd:schema
            targetNamespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-attrs"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

            <xsd:import
            	namespace="http://www.w3.org/2005/08/addressing"
            	schemaLocation="./ws-addr.xsd"/>

			<xsd:import
				namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-attrs"
				schemaLocation="./resource-attributes.xsd"/>

			<xsd:import
				namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource"
				schemaLocation="./resource.xsd"/>

			<xsd:import
				namespace="http://vcgr.cs.virginia.edu/genii/2006/12/context"
				schemaLocation="./context.xsd"/>

<!-- Message Helper Types -->
			<xsd:element name="getAttributesDocument"/>
			<xsd:element name="getAttributesDocumentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace="##any" processContents="lax"
							minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
            <xsd:element name="getAttributes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attribute-qname"
                            type="xsd:QName"
                            minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getAttributesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    	<xsd:any namespace="##any" processContents="lax" 
                        	minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="setAttributes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any namespace="##any" processContents="lax" 
                        	minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="setAttributesResponse">
			<xsd:complexType>
			    <xsd:sequence>
					<xsd:element name="succeeded"
						type="xsd:boolean"
						minOccurs="1" maxOccurs="1"/>
			    </xsd:sequence>
			</xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <!-- Fault Messages -->
	<wsdl:message name="AttributeUnknownFault">
		<wsdl:part name="AttributeUnknownFault"
			element="genii-rattrs:AttributeUnknownFaultType"/>
	</wsdl:message>

	<wsdl:message name="AttributeNotSettableFault">
		<wsdl:part name="AttributeNotSettableFault"
			element="genii-rattrs:AttributeNotSettableFaultType"/>
	</wsdl:message>
	
	<wsdl:message name="IncorrectAttributeCardinalityFault">
		<wsdl:part name="IncorrectAttributeCardinalityFault"
			element="genii-rattrs:IncorrectAttributeCardinalityFaultType"/>
	</wsdl:message>

    <!-- Attributes::getAttributes -->
    <wsdl:message name="getAttributesDocumentRequest">
    	<wsdl:part name="getAttributesDocumentRequest"
    		element="genii-rattrs:getAttributesDocument"/>
    </wsdl:message>
    
    <wsdl:message name="getAttributesDocumentResponse">
    	<wsdl:part name="getAttributesDocumentResponse"
    		element="genii-rattrs:getAttributesDocumentResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getAttributesRequest">
        <wsdl:part name="getAttributesRequest"
            element="genii-rattrs:getAttributes"/>
    </wsdl:message>

    <wsdl:message name="getAttributesResponse">
        <wsdl:part name="getAttributesResponse"
            element="genii-rattrs:getAttributesResponse"/>
    </wsdl:message>

    <!-- Attributes::setAttributes -->
    <wsdl:message name="setAttributesRequest">
        <wsdl:part name="setAttributesRequest"
            element="genii-rattrs:setAttributes"/>
    </wsdl:message>

    <wsdl:message name="setAttributesResponse">
        <wsdl:part name="setAttributesResponse"
            element="genii-rattrs:setAttributesResponse"/>
    </wsdl:message>

<!-- Port Type Definitions -->
	<wsdl:portType name="GeniiResourceAttrs">
		<wsdl:operation name="getAttributesDocument">
			<wsdl:input message="genii-rattrs:getAttributesDocumentRequest"/>
        	<wsdl:output message="genii-rattrs:getAttributesDocumentResponse"/>
        	<wsdl:fault name="ResourceUnknownFault"
            	message="genii-resource:ResourceUnknownFault"/>
		</wsdl:operation>
	
    	<wsdl:operation name="getAttributes">
        	<wsdl:input message="genii-rattrs:getAttributesRequest"/>
        	<wsdl:output message="genii-rattrs:getAttributesResponse"/>
        	<wsdl:fault name="ResourceUnknownFault"
            	message="genii-resource:ResourceUnknownFault"/>
        	<wsdl:fault name="AttributeUnknownFault"
            	message="genii-rattrs:AttributeUnknownFault"/>
    	</wsdl:operation>

    	<wsdl:operation name="setAttributes">
        	<wsdl:input message="genii-rattrs:setAttributesRequest"/>
        	<wsdl:output message="genii-rattrs:setAttributesResponse"/>
        	<wsdl:fault name="ResourceUnknownFault"
            	message="genii-resource:ResourceUnknownFault"/>
        	<wsdl:fault name="AttributeUnknownFault"
            	message="genii-rattrs:AttributeUnknownFault"/>
        	<wsdl:fault name="AttributeNotSettableFault"
            	message="genii-rattrs:AttributeNotSettableFault"/>
        	<wsdl:fault name="IncorrectAttributeCardinalityFault"
        		message="genii-rattrs:IncorrectAttributeCardinalityFault"/>
    	</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
