wsdl/wsrf/wsResourceLifetime.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WS-ResourceLifetime"
	targetNamespace="http://docs.oasis-open.org/wsrf/rlw-2"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
	xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
	xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2"
	xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
	xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2"
		location="./wsResourceFaults.wsdl"/>
		
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			
			<xsd:import namespace="http://docs.oasis-open.org/wsrf/rl-2"
				schemaLocation="./wsResourceLifetime.xsd"/>
				
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="SetTerminationTimeRequest">
		<wsdl:part element="wsrf-rl:SetTerminationTime"
			name="SetTerminationTimeRequest"/>
	</wsdl:message>
	
	<wsdl:message name="DestroyResponse">
		<wsdl:part element="wsrf-rl:DestroyResponse" name="DestroyResponse"/>
	</wsdl:message>
	
	<wsdl:message name="SetTerminationTimeResponse">
		<wsdl:part element="wsrf-rl:SetTerminationTimeResponse"
			name="SetTerminationTimeResponse"/>
	</wsdl:message>
	
	<wsdl:message name="DestroyRequest">
		<wsdl:part element="wsrf-rl:Destroy"
			name="DestroyRequest"/>
	</wsdl:message>
	
	<wsdl:message name="ResourceNotDestroyedFault">
		<wsdl:part element="wsrf-rl:ResourceNotDestroyedFault"
			name="ResourceNotDestroyedFault"/>
	</wsdl:message>
	
	<wsdl:message name="UnableToSetTerminationTimeFault">
		<wsdl:part element="wsrf-rl:UnableToSetTerminationTimeFault"
			name="UnableToSetTerminationTimeFault"/>
	</wsdl:message>
	
	<wsdl:message name="TerminationTimeChangeRejectedFault">
		<wsdl:part element="wsrf-rl:TerminationTimeChangeRejectedFault"
			name="TerminationTimeChangeRejectedFault"/>
	</wsdl:message>
	
	<wsdl:portType name="ImmediateResourceTermination">
		<wsdl:operation name="Destroy">
			<wsdl:input name="DestroyRequest"
				wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest"
				message="wsrf-rlw:DestroyRequest"/>
			<wsdl:output name="DestroyResponse"
				wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyResponse"
				message="wsrf-rlw:DestroyResponse"/>
			<wsdl:fault message="wsrf-rlw:ResourceNotDestroyedFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="ResourceNotDestroyedFault"/>
			<wsdl:fault message="wsrf-rw:ResourceUnknownFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="ResourceUnknownFault"/>
			<wsdl:fault message="wsrf-rw:ResourceUnavailableFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="ResourceUnavailableFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="ScheduledResourceTermination">
		<wsdl:operation name="SetTerminationTime">
			<wsdl:input name="SetTerminationTimeRequest"
				wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest"
				message="wsrf-rlw:SetTerminationTimeRequest"/>
			<wsdl:output name="SetTerminationTimeResponse"
				wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse"
				message="wsrf-rlw:SetTerminationTimeResponse"/>
			<wsdl:fault message="wsrf-rlw:UnableToSetTerminationTimeFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="UnableToSetTerminationTimeFault"/>
			<wsdl:fault message="wsrf-rlw:TerminationTimeChangeRejectedFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="TerminationTimeChangeRejectedFault"/>
			<wsdl:fault message="wsrf-rw:ResourceUnknownFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="ResourceUnknownFault"/>
			<wsdl:fault message="wsrf-rw:ResourceUnavailableFault"
				wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"
				name="ResourceUnavailableFault"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
