libraries/gffs-webservices/trunk/codegen/wsdl/enhancednb-generated.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:enhancednb="http://vcgr.cs.virginia.edu/container/2011/07/enhanced-notification-broker" xmlns:genii-common="http://vcgr.cs.virginia.edu/genii/2006/12/common" xmlns:genii-ext="http://vcgr.cs.virginia.edu/genii/2006/12/wsdl-extensions" xmlns:rpw-2="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:rw-2="http://docs.oasis-open.org/wsrf/rw-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsbn="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsbn-type="http://docs.oasis-open.org/wsn/b-2" xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EnhancedNotificationBroker" targetNamespace="http://vcgr.cs.virginia.edu/container/2011/07/enhanced-notification-broker">

	<wsdl:import location="./wsrf/wsResourceFaults.wsdl" namespace="http://docs.oasis-open.org/wsrf/rw-2"/>
	<wsdl:import location="./wsrf/wsResourceProperties.wsdl" namespace="http://docs.oasis-open.org/wsrf/rpw-2"/>
	<wsdl:import location="wsrf/wsResourceFaults.wsdl" namespace="http://docs.oasis-open.org/wsrf/rw-2"/>
	<wsdl:import location="./resource-simple.wsdl" namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-simple"/>
	<wsdl:import location="./resource-factory.wsdl" namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory"/>
	<wsdl:import location="./wsrf/wsResourceLifetime.wsdl" namespace="http://docs.oasis-open.org/wsrf/rlw-2"/>
	<wsdl:import location="./wsrf/wsBaseNotification.wsdl" namespace="http://docs.oasis-open.org/wsn/bw-2"/>
	<wsdl:import location="./resource-authz.wsdl" namespace="http://vcgr.cs.virginia.edu/genii/2006/12/resource-authz"/>
    <wsdl:import location="./common-generated.wsdl" namespace="http://vcgr.cs.virginia.edu/genii/2006/12/common"/>
	<wsdl:import location="./geniiNotificationConsumer.wsdl" namespace="http://vcgr.cs.virginia.edu/genii/2010/08/notification/notification-consumer"/>

	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://vcgr.cs.virginia.edu/container/2011/07/enhanced-notification-broker">
			<xsd:import namespace="http://vcgr.cs.virginia.edu/container/2011/07/enhanced-notification-broker" schemaLocation="./enhancednb.xsd"/>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/b-2">
			<xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="./wsrf/wsBaseNotification.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="UpdateModeRequest">
		<wsdl:part element="enhancednb:ActiveMode" name="UpdateModeRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateModeResponse">
		<wsdl:part element="enhancednb:UpdateModeResponse" name="UpdateModeResponse"/>
	</wsdl:message>
	
	<wsdl:message name="TestNotificationRequest">
		<wsdl:part element="enhancednb:TestNotificationRequest" name="TestNotificationRequest"/>
	</wsdl:message>
	<wsdl:message name="TestNotificationResponse">
		<wsdl:part element="enhancednb:TestNotificationResponse" name="TestNotificationResponse"/>
	</wsdl:message>
	
	<wsdl:message name="IndirectSubscribeRequest">
		<wsdl:part element="enhancednb:IndirectSubscribeRequest" name="IndirectSubscribeRequest"/>
	</wsdl:message>
	<wsdl:message name="IndirectSubscribeResponse">
		<wsdl:part element="enhancednb:IndirectSubscriptionResponse" name="IndirectSubscribeResponse"/>
	</wsdl:message>
	<wsdl:message name="SubscriptionFailedFault">
		<wsdl:part element="enhancednb:SubscriptionFailedFault" name="SubscriptionFailedFault"/>
	</wsdl:message>
	
	<wsdl:message name="GetUnreadMessagesRequest">
		<wsdl:part element="enhancednb:MessageIndex" name="GetUnreadMessagesRequest"/>
	</wsdl:message>
	<wsdl:message name="GetUnreadMessagesResponse">
		<wsdl:part element="wsbn-type:GetMessagesResponse" name="GetUnreadMessagesResponse"/>
	</wsdl:message>
	<wsdl:message name="MessageMissedFault">
		<wsdl:part element="enhancednb:MessageMissedFault" name="MessageMissedFault"/>
	</wsdl:message>
	
	<wsdl:message name="UpdateForwardingPortRequest">
		<wsdl:part element="enhancednb:UpdateForwardingPortRequest" name="UpdateForwardingPortRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateForwardingPortResponse">
		<wsdl:part element="enhancednb:UpdateForwardingPortResponse" name="UpdateForwardingPortResponse"/>
	</wsdl:message>
		
	<wsdl:portType name="EnhancedNotificationBrokerPortType">
		
		
		
		
		<wsdl:operation name="updateMode">
			<wsdl:input message="enhancednb:UpdateModeRequest"/>
			<wsdl:output message="enhancednb:UpdateModeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="testNotification">
			<wsdl:input message="enhancednb:TestNotificationRequest"/>
			<wsdl:output message="enhancednb:TestNotificationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="createIndirectSubscriptions">
			<wsdl:input message="enhancednb:IndirectSubscribeRequest"/>
			<wsdl:output message="enhancednb:IndirectSubscribeResponse"/>
			<wsdl:fault message="enhancednb:SubscriptionFailedFault" name="SubscriptionFailedFault"/>
		</wsdl:operation>
		<wsdl:operation name="getUnreadMessages">
			<wsdl:input message="enhancednb:GetUnreadMessagesRequest"/>
			<wsdl:output message="enhancednb:GetUnreadMessagesResponse"/>
			<wsdl:fault message="enhancednb:MessageMissedFault" name="MessageMissedFault"/>
		</wsdl:operation>
		<wsdl:operation name="updateForwardingPort">
			<wsdl:input message="enhancednb:UpdateForwardingPortRequest"/>
			<wsdl:output message="enhancednb:UpdateForwardingPortResponse"/>
		</wsdl:operation>
		
	<wsdl:operation name="GetResourceProperty">
      <wsdl:input message="rpw-2:GetResourcePropertyRequest" name="GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest"/>
      <wsdl:output message="rpw-2:GetResourcePropertyResponse" name="GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>     
    </wsdl:operation><wsdl:operation name="InsertResourceProperties">
      <wsdl:input message="rpw-2:InsertResourcePropertiesRequest" name="InsertResourcePropertiesRequest"/>
      <wsdl:output message="rpw-2:InsertResourcePropertiesResponse" name="InsertResourcePropertiesResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
      <wsdl:fault message="rpw-2:InvalidModificationFault" name="InvalidModificationFault"/>     
      <wsdl:fault message="rpw-2:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>     
      <wsdl:fault message="rpw-2:InsertResourcePropertiesRequestFailedFault" name="InsertResourcePropertiesRequestFailedFault"/>
    </wsdl:operation><wsdl:operation name="QueryResourceProperties">
      <wsdl:input message="rpw-2:QueryResourcePropertiesRequest" name="QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/QueryResourceProperties/QueryResourcePropertiesRequest"/>
      <wsdl:output message="rpw-2:QueryResourcePropertiesResponse" name="QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/QueryResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>     
      <wsdl:fault message="rpw-2:UnknownQueryExpressionDialectFault" name="UnknownQueryExpressionDialectFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rpw-2:InvalidQueryExpressionFault" name="InvalidQueryExpressionFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rpw-2:QueryEvaluationErrorFault" name="QueryEvaluationErrorFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
    </wsdl:operation><wsdl:operation name="Notify">
			<wsdl:input message="wsbn:Notify" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/Notify"/>
		</wsdl:operation><wsdl:operation name="ping">
			<wsdl:input xmlns:genii-rsimple="http://vcgr.cs.virginia.edu/genii/2006/12/resource-simple" message="genii-rsimple:pingRequest"/>
			<wsdl:output xmlns:genii-rsimple="http://vcgr.cs.virginia.edu/genii/2006/12/resource-simple" message="genii-rsimple:pingResponse"/>
		</wsdl:operation><wsdl:operation name="GetCurrentMessage">
			<wsdl:input message="wsbn:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/GetCurrentMessageRequest"/>
			<wsdl:output message="wsbn:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/GetCurrentMessageResponse"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
			<wsdl:fault message="wsbn:TopicExpressionDialectUnknownFault" name="TopicExpressionDialectUnknownFault"/>
			<wsdl:fault message="wsbn:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault"/>
			<wsdl:fault message="wsbn:TopicNotSupportedFault" name="TopicNotSupportedFault"/>
			<wsdl:fault message="wsbn:NoCurrentMessageOnTopicFault" name="NoCurrentMessageOnTopicFault"/>
			<wsdl:fault message="wsbn:MultipleTopicsSpecifiedFault" name="MultipleTopicsSpecifiedFault"/>
		</wsdl:operation><wsdl:operation name="UpdateResourceProperties">
      <wsdl:input message="rpw-2:UpdateResourcePropertiesRequest" name="UpdateResourcePropertiesRequest"/>
      <wsdl:output message="rpw-2:UpdateResourcePropertiesResponse" name="UpdateResourcePropertiesResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
      <wsdl:fault message="rpw-2:InvalidModificationFault" name="InvalidModificationFault"/>     
      <wsdl:fault message="rpw-2:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>     
      <wsdl:fault message="rpw-2:UpdateResourcePropertiesRequestFailedFault" name="UpdateResourcePropertiesRequestFailedFault"/>
    </wsdl:operation><wsdl:operation name="SetTerminationTime">
			<wsdl:input xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:SetTerminationTimeRequest" name="SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest"/>
			<wsdl:output xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:SetTerminationTimeResponse" name="SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse"/>
			<wsdl:fault xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
			<wsdl:fault xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
			<wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
		</wsdl:operation><wsdl:operation name="Subscribe">
			<wsdl:input message="wsbn:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeRequest"/>
			<wsdl:output message="wsbn:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
			<wsdl:fault message="wsbn:InvalidFilterFault" name="InvalidFilterFault"/>
			<wsdl:fault message="wsbn:TopicExpressionDialectUnknownFault" name="TopicExpressionDialectUnknownFault"/>
			<wsdl:fault message="wsbn:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault"/>
			<wsdl:fault message="wsbn:TopicNotSupportedFault" name="TopicNotSupportedFault"/>
			<wsdl:fault message="wsbn:InvalidProducerPropertiesExpressionFault" name="InvalidProducerPropertiesExpressionFault"/>
			<wsdl:fault message="wsbn:InvalidMessageContentExpressionFault" name="InvalidMessageContentExpressionFault"/>
			<wsdl:fault message="wsbn:UnacceptableInitialTerminationTimeFault" name="UnacceptableInitialTerminationTimeFault"/>
			<wsdl:fault message="wsbn:UnrecognizedPolicyRequestFault" name="UnrecognizedPolicyRequestFault"/>
			<wsdl:fault message="wsbn:UnsupportedPolicyRequestFault" name="UnsupportedPolicyRequestFault"/>
			<wsdl:fault message="wsbn:NotifyMessageNotSupportedFault" name="NotifyMessageNotSupportedFault"/>
			<wsdl:fault message="wsbn:SubscribeCreationFailedFault" name="SubscribeCreationFailedFault"/>
		</wsdl:operation><wsdl:operation name="removeMatchingParameter">
			<wsdl:input message="genii-common:RemoveMatchingParameterRequest"/>
			<wsdl:output message="genii-common:RemoveMatchingParameterResponse"/>
		</wsdl:operation><wsdl:operation name="addMatchingParameter">
			<wsdl:input message="genii-common:AddMatchingParameterRequest"/>
			<wsdl:output message="genii-common:AddMatchingParameterResponse"/>
		</wsdl:operation><wsdl:operation name="vcgrCreate">
			<wsdl:input xmlns:genii-rfactory="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory" message="genii-rfactory:vcgrCreateRequest"/>
			<wsdl:output xmlns:genii-rfactory="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory" message="genii-rfactory:vcgrCreateResponse"/>
			<wsdl:fault xmlns:genii-rfactory="http://vcgr.cs.virginia.edu/genii/2006/12/resource-factory" message="genii-rfactory:ResourceCreationFault" name="ResourceCreationFault"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
		</wsdl:operation><wsdl:operation name="GetResourcePropertyDocument">
      <wsdl:input message="rpw-2:GetResourcePropertyDocumentRequest" name="GetResourcePropertyDocumentRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentRequest"/>
      <wsdl:output message="rpw-2:GetResourcePropertyDocumentResponse" name="GetResourcePropertyDocumentResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
    </wsdl:operation><wsdl:operation name="SetResourceProperties">
      <wsdl:input message="rpw-2:SetResourcePropertiesRequest" name="SetResourcePropertiesRequest"/>
      <wsdl:output message="rpw-2:SetResourcePropertiesResponse" name="SetResourcePropertiesResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
      <wsdl:fault message="rpw-2:InvalidModificationFault" name="InvalidModificationFault"/>     
      <wsdl:fault message="rpw-2:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>     
      <wsdl:fault message="rpw-2:SetResourcePropertyRequestFailedFault" name="SetResourcePropertyRequestFailedFault"/>
    </wsdl:operation><wsdl:operation name="DeleteResourceProperties">
      <wsdl:input message="rpw-2:DeleteResourcePropertiesRequest" name="DeleteResourcePropertiesRequest"/>
      <wsdl:output message="rpw-2:DeleteResourcePropertiesResponse" name="DeleteResourcePropertiesResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
      <wsdl:fault message="rpw-2:InvalidModificationFault" name="InvalidModificationFault"/>     
      <wsdl:fault message="rpw-2:UnableToModifyResourcePropertyFault" name="UnableToModifyResourcePropertyFault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>     
      <wsdl:fault message="rpw-2:DeleteResourcePropertiesRequestFailedFault" name="DeleteResourcePropertiesRequestFailedFault"/> 
    </wsdl:operation><wsdl:operation name="iterateHistoryEvents">
			<wsdl:input message="genii-common:iterateHistoryEventsRequest"/>
			<wsdl:output message="genii-common:iterateHistoryEventsResponse"/>
		</wsdl:operation><wsdl:operation name="Destroy">
			<wsdl:input xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:DestroyRequest" name="DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest"/>
			<wsdl:output xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:DestroyResponse" name="DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyResponse"/>
			<wsdl:fault xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" message="wsrf-rlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
			<wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
		</wsdl:operation><wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input message="rpw-2:GetMultipleResourcePropertiesRequest" name="GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesRequest"/>
      <wsdl:output message="rpw-2:GetMultipleResourcePropertiesResponse" name="GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rw-2:ResourceUnavailableFault" name="ResourceUnavailableFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>
      <wsdl:fault message="rpw-2:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault" wsa:Action="http://www.w3.org/2005/08/addressing/soap/fault"/>     
    </wsdl:operation><wsdl:operation name="notifyWithResponse">
			<wsdl:input message="wsbn:Notify"/>
			<wsdl:output xmlns:genii-nc="http://vcgr.cs.virginia.edu/genii/2010/08/notification/notification-consumer" message="genii-nc:NotifyResponse"/>
		</wsdl:operation><wsdl:operation name="GetMessages">
			<wsdl:input message="wsbn:GetMessagesRequest" name="GetMessagesRequest"/>
			<wsdl:output message="wsbn:GetMessagesResponse" name="GetMessagesResponse"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
			<wsdl:fault message="wsbn:UnableToGetMessagesFault" name="UnableToGetMessagesFault"/>
		</wsdl:operation><wsdl:operation name="DestroyPullPoint">
			<wsdl:input message="wsbn:DestroyPullPointRequest" name="DestroyPullPointRequest"/>
			<wsdl:output message="wsbn:DestroyPullPointResponse" name="DestroyPullPointResponse"/>
			<wsdl:fault message="rw-2:ResourceUnknownFault" name="ResourceUnknownFault"/>
			<wsdl:fault message="wsbn:UnableToDestroyPullPointFault" name="UnableToDestroyPullPointFault"/>
		</wsdl:operation></wsdl:portType>

</wsdl:definitions>