libraries/gffs-webservices/trunk/codegen/wsdl/rns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	name="RNS"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://schemas.ogf.org/rns/2009/12/rns"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:rns="http://schemas.ogf.org/rns/2009/12/rns"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:genii-common="http://vcgr.cs.virginia.edu/genii/2006/12/common"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/rp-2"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/rpw-2"
    xmlns:rw-2="http://docs.oasis-open.org/wsrf/rw-2"
	xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2"
	xmlns:wsbf="http://docs.oasis-open.org/wsrf/bf-2"
    xmlns:genii-ext="http://vcgr.cs.virginia.edu/genii/2006/12/wsdl-extensions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/rw-2"
		location="./wsrf/wsResourceFaults.wsdl"/>

	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/rpw-2"
		location="./wsrf/wsResourceProperties.wsdl"/>

	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/rlw-2"
		location="./wsrf/wsResourceLifetime.wsdl"/>

	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://schemas.ogf.org/rns/2009/12/rns">

            <xsd:import
        		namespace="http://schemas.ogf.org/rns/2009/12/rns"
            	schemaLocation="./rns.xsd"/>

			<xsd:import
				namespace="http://docs.oasis-open.org/wsrf/bf-2"
				schemaLocation="./wsrf/basefaults.xsd"/>
	
			<xsd:import
				namespace="http://docs.oasis-open.org/wsrf/rp-2"
				schemaLocation="./wsrf/wsResourceProperties.xsd"/>

			<xsd:import
				namespace="http://docs.oasis-open.org/wsrf/rl-2"
				schemaLocation="./wsrf/wsResourceLifetime.xsd"/>

			<!-- == Resource Property Related === -->
			<xsd:element name="RNSRP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace="##other" minOccurs="0"
							maxOccurs="unbounded"/>
						<xsd:element ref="rns:elementCount"
							minOccurs="1" maxOccurs="1"/>
						<xsd:element ref="rns:createTime"
							minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="rns:accessTime"
							minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="rns:modificationTime"
							minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="rns:readable"
							minOccurs="1" maxOccurs="1"/>
						<xsd:element ref="rns:writable"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AddRequest">
		<wsdl:part name="AddRequest"
			element="rns:AddRequest"/>
	</wsdl:message>

	<wsdl:message name="AddResponse">
		<wsdl:part name="Add"
			element="rns:AddResponse"/>
	</wsdl:message>

	<wsdl:message name="LookupRequest">
		<wsdl:part name="LookupRequest"
			element="rns:LookupRequest"/>
	</wsdl:message>

	<wsdl:message name="LookupResponse">
		<wsdl:part name="LookupResponse"
			element="rns:LookupResponse"/>
	</wsdl:message>

	<wsdl:message name="RemoveRequest">
		<wsdl:part name="RemoveRequest"
			element="rns:RemoveRequest"/>
	</wsdl:message>

	<wsdl:message name="RemoveResponse">
		<wsdl:part name="RemoveResponse"
			element="rns:RemoveResponse"/>
	</wsdl:message>

	<wsdl:message name="RenameRequest">
		<wsdl:part name="RenameRequest"
			element="rns:RenameRequest"/>
	</wsdl:message>

	<wsdl:message name="RenameResponse">
		<wsdl:part name="RenameResponse"
			element="rns:RenameResponse"/>
	</wsdl:message>

	<wsdl:message name="SetMetadataRequest">
		<wsdl:part name="SetMetadataRequest"
			element="rns:SetMetadataRequest"/>
	</wsdl:message>

	<wsdl:message name="SetMetadataResponse">
		<wsdl:part name="SetMetadataResponse"
			element="rns:SetMetadataResponse"/>
	</wsdl:message>

	<wsdl:message name="ReadNotPermittedFault">
		<wsdl:part name="ReadNotPermittedFault"
			element="rns:ReadNotPermittedFault"/>
	</wsdl:message>

	<wsdl:message name="WriteNotPermittedFault">
		<wsdl:part name="WriteNotPermittedFault"
			element="rns:WriteNotPermittedFault"/>
	</wsdl:message>

	<wsdl:portType name="RNSPortType"
		wsrp:ResourceProperties="rns:RNSRP">

		<wsdl:operation name="add">
			<wsdl:input message="rns:AddRequest"/>
			<wsdl:output message="rns:AddResponse"/>
			<wsdl:fault name="WriteNotPermittedFault"
				message="rns:WriteNotPermittedFault"/>
		</wsdl:operation>

		<wsdl:operation name="lookup">
			<wsdl:input message="rns:LookupRequest"/>
			<wsdl:output message="rns:LookupResponse"/>
			<wsdl:fault name="ReadNotPermittedFault"
				message="rns:ReadNotPermittedFault"/>
		</wsdl:operation>

		<wsdl:operation name="rename">
			<wsdl:input message="rns:RenameRequest"/>
			<wsdl:output message="rns:RenameResponse"/>
			<wsdl:fault name="WriteNotPermittedFault"
				message="rns:WriteNotPermittedFault"/>
		</wsdl:operation>

		<wsdl:operation name="remove">
			<wsdl:input message="rns:RemoveRequest"/>
			<wsdl:output message="rns:RemoveResponse"/>
			<wsdl:fault name="WriteNotPermittedFault"
				message="rns:WriteNotPermittedFault"/>
		</wsdl:operation>

		<wsdl:operation name="setMetadata">
			<wsdl:input message="rns:SetMetadataRequest"/>
			<wsdl:output message="rns:SetMetadataResponse"/>
			<wsdl:fault name="WriteNotPermittedFault"
				message="rns:WriteNotPermittedFault"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
