wsdl/byteio/interop/byteiointeropfactory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ByteIOInteropFactory"
	xmlns:interop="http://schemas.ggf.org/byteio/2006/07/interop"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http:/www.w3.org/2001/XMLSchema-instance"
	xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
	targetNamespace="http://schemas.ggf.org/byteio/2006/07/interop">

	<wsdl:import 
		namespace="http://docs.oasis-open.org/wsrf/rw-2" 
		location="./wsrf/wsResourceFaults.wsdl" />

	<!-- ByteIOInterop::Types -->
	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://docs.oasis-open.org/wsrf/rp-2" 
				schemaLocation="./wsrf/wsResourceProperties.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://schemas.ggf.org/byteio/2006/07/interop" 
			elementFormDefault="qualified" attributeFormDefault="unqualified">
	
			<xsd:import namespace="http://www.w3.org/2005/08/addressing" 
				schemaLocation="./ws-addr.xsd"/>
	
<!--	
			<xsd:element name="createResource"/>
-->
			<xsd:element name="createResource">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dummy" type="xsd:int"
							minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="createResourceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="wsa:EndpointReference"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:element name="deleteResource">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="wsa:EndpointReference"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
	
		</xsd:schema>
	</wsdl:types>

    <!-- ByteIOInterop::Messages -->
	<wsdl:message name="createResource">
		<wsdl:part name="createResource" element="interop:createResource"/>
	</wsdl:message>
	
	<wsdl:message name="createResourceResponse">
		<wsdl:part name="createResourceResponse" element="interop:createResourceResponse"/>
	</wsdl:message>
	
	<wsdl:message name="deleteResource">
		<wsdl:part name="deleteResource" element="interop:deleteResource"/>
	</wsdl:message>
	
	<!-- Port Type Definitions -->
	<wsdl:portType name="ByteIOInteropFactory">

		<wsdl:operation name="CreateResource">
			<wsdl:input message="interop:createResource"/>
			<wsdl:output message="interop:createResourceResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="DeleteResource">
			<wsdl:input message="interop:deleteResource"/>
			<wsdl:fault name="ResourceUnknownFault" 
				message="wsrf-rw:ResourceUnknownFault"/>
			<wsdl:fault name="ResourceUnavailableFault" 
				message="wsrf-rw:ResourceUnavailableFault"/>
		</wsdl:operation>
	
	</wsdl:portType>

</wsdl:definitions>


