libraries/gffs-webservices/trunk/wsdl/bes/bes-factory.wsdl

<wsdl:definitions name="BESFactory"
	targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-factory"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bes-factory="http://schemas.ggf.org/bes/2006/08/bes-factory"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" > 
	
	<wsdl:types>
		<xsd:schema
			xmlns:wsa="http://www.w3.org/2005/08/addressing"
			attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-factory">
			
			<xsd:include schemaLocation="bes-factory.xsd"/>
		
			<!-- Message Types -->
			<xsd:complexType name="CreateActivityType">
				<xsd:sequence>
					<xsd:element ref="bes-factory:ActivityDocument"/>
					<xsd:any namespace="##other" processConents="lax" minOccurs="0"
						maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>

			<xsd:complexType name="CreateActivityResponseType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"/>
					<xsd:element ref="bes-factory:ActivityDocument" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetActivityStatusesType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetActivityStatusesResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:GetActivityStatusResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##pther" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="TerminateActivitiesType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="TerminateActivitiesResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:TerminateActivityResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetActivityDocumentsType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetActivityDocumentsResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:GetActivityDocumentResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetFactoryAttributesDocumentType">
				<xsd:sequence>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetFactoryAttributesDocumentResponseType">
				<xsd:sequence>
					<xsd:element ref="bes-factory:FactoryResourceAttributesDocument"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="PersistActivitiesType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="onNode" type="xsd:boolean"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="PersistActivitiesResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:PersistActivityResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetStatePathsType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="GetStatePathsResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:GetStatePathResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="RestartActivitiesType">
				<xsd:sequence>
					<xsd:element name="Path" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="RestartActivitiesResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:RestartActivityResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="StopActivitiesType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="StopActivitiesResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:StopActivityResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="ResumeActivitiesType">
				<xsd:sequence>
					<xsd:element name="ActivityIdentifier" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="ResumeActivitiesResponseType">
				<xsd:sequence>
					<xsd:element name="Response" type="bes-factory:ResumeActivityResponseType"
						minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<!-- Fault Types -->
			<xsd:complexType name="NotAuthorizedFaultType">
				<xsd:sequence>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="NotAcceptingNewActivitiesFaultType">
				<xsd:sequence>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="UnsupportedFeatureFaultType">
				<xsd:sequence>
					<xsd:element name="Feature" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="CantApplyOperationToCurrentStateFaultType">
				<xsd:sequence>
					<xsd:element name="ActivityStatus" type="bes-factory:ActivityStatusType"/>
					<xsd:element name="Message" type="xsd:string"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="OperationWillBeAppliedEventuallyFaultType">
				<xsd:sequence>
					<xsd:element name="ActivityStatus" type="bes-factory:ActivityStatusType"/>
					<xsd:element name="Message" type="xsd:string"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="UnknownActivityIdentifierFaultType">
				<xsd:sequence>
					<xsd:element name="Message" type="xsd:string"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<xsd:complexType name="InvalidRequestMessageFaultType">
				<xsd:sequence>
					<xsd:element name="InvalidElement" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Message" type="xsd:string"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:complexType>
			
			<!-- Message Elements -->
			<xsd:element name="CreateActivity"
				type="bes-factory:CreateActivityType"/>
			<xsd:element name="CreateActivityResponse"
				type="bes-factory:CreateActivityResponseType"/>
			<xsd:element name="GetActivityStatuses"
				type="bes-factory:GetActivityStatusesType"/>
			<xsd:element name="GetActivityStatusesResponse"
				type="bes-factory:GetActivityStatusesResponseType"/>
			<xsd:element name="TerminateActivities"
				type="bes-factory:TerminateActivitiesType"/>
			<xsd:element name="TerminateActivitiesResponse"
				type="bes-factory:TerminateActivitiesResponseType"/>
			<xsd:element name="GetActivityDocuments"
				type="bes-factory:GetActivityDocumentsType"/>
			<xsd:element name="GetActivityDocumentsResponse"
				type="bes-factory:GetActivityDocumentsResponseType"/>
			<xsd:element name="GetFactoryAttributesDocument"
				type="bes-factory:GetFactoryAttributesDocumentType"/>
			<xsd:element name="GetFactoryAttributesDocumentResponse"
				type="bes-factory:GetFactoryAttributesDocumentResponseType"/>
				
			<xsd:element name="PersistActivities"
				type="bes-factory:PersistActivitiesType"/>
			<xsd:element name="PersistActivitiesResponse"
				type="bes-factory:PersistActivitiesResponseType"/>

			<xsd:element name="GetStatePaths"
				type="bes-factory:GetStatePathsType"/>
			<xsd:element name="GetStatePathsResponse"
				type="bes-factory:GetStatePathsResponseType"/>
				
			<xsd:element name="RestartActivities"
				type="bes-factory:RestartActivitiesType"/>
			<xsd:element name="RestartActivitiesResponse"
				type="bes-factory:RestartActivitiesResponseType"/>
				
			<xsd:element name="StopActivities"
				type="bes-factory:StopActivitiesType"/>
			<xsd:element name="StopActivitiesResponse"
				type="bes-factory:StopActivitiesResponseType"/>
				
			<xsd:element name="ResumeActivities"
				type="bes-factory:ResumeActivitiesType"/>
			<xsd:element name="ResumeActivitiesResponse"
				type="bes-factory:ResumeActivitiesResponseType"/>
				
				
			<!-- Fault Elements -->
			<xsd:element name="NotAuthorizedFault"
				type="bes-factory:NotAuthorizedFaultType"/>
			<xsd:element name="NotAcceptingNewActivitiesFault"
				type="bes-factory:NotAcceptingNewActivitiesFaultType"/>
			<xsd:element name="UnsupportedFeatureFault"
				type="bes-factory:UnsupportedFeatureFaultType"/>
			<xsd:element name="CantApplyOperationToCurrentStateFault"
				type="bes-factory:CantApplyOperationToCurrentStateFaultType"/>
			<xsd:element name="OperationWillBeAppliedEventuallyFault"
				type="bes-factory:OperationWillBeAppliedEventuallyFaultType"/>
			<xsd:element name="UnknownActivityIdentifierFault"
				type="bes-factory:UnknownActivityIdentifierFaultType"/>
			<xsd:element name="InvalidRequestMessageFault"
				type="bes-factory:InvalidRequestMessageFaultType"/>
		</xsd:schema>
	</wsdl:types>
	
	<!-- Messages -->
	<wsdl:message name="CreateActivityRequest">
		<wsdl:part name="parameters"
			element="bes-factory:CreateActivity"/>
	</wsdl:message>
	
	<wsdl:message name="CreateActivityResponse">
		<wsdl:part name="parameters"
			element="bes-factory:CreateActivityResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GetActivityStatusesRequest">
		<wsdl:part name="parameters"
			element="bes-factory:GetActivityStatuses"/>
	</wsdl:message>
	
	<wsdl:message name="GetActivityStatusesResponse">
		<wsdl:part name="parameters"
			element="bes-factory:GetActivityStatusesResponse"/>
	</wsdl:message>
	
	<wsdl:message name="TerminateActivitiesRequest">
		<wsdl:part name="parameters"
			element="bes-factory:TerminateActivities"/>
	</wsdl:message>
	
	<wsdl:message name="TerminateActivitiesResponse">
		<wsdl:part name="parameters"
			element="bes-factory:TerminateActivitiesResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GetActivityDocumentsRequest">
		<wsdl:part name="parameters"
			element="bes-factory:GetActivityDocuments"/>
	</wsdl:message>
	
	<wsdl:message name="GetActivityDocumentsResponse">
		<wsdl:part name="parameters"
			element="bes-factory:GetActivityDocumentsResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GetFactoryAttributesDocumentRequest">
		<wsdl:part name="parameters"
			element="bes-factory:GetFactoryAttributesDocument"/>
	</wsdl:message>
	
	<wsdl:message name="GetFactoryAttributesDocumentResponse">
		<wsdl:part name="parameters"
			element="bes-factory:GetFactoryAttributesDocumentResponse"/>
	</wsdl:message>
	
		<!-- Port Type -->
	<wsdl:message name="PersistActivitiesRequest">
		<wsdl:part name="parameters" element="bes-factory:PersistActivities"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PersistActivitiesResponse">
		<wsdl:part name="parameters" element="bes-factory:PersistActivitiesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetStatePathsRequest">
		<wsdl:part name="parameters" element="bes-factory:GetStatePaths"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetStatePathsResponse">
		<wsdl:part name="parameters" element="bes-factory:GetStatePathsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RestartActivitiesRequest">
		<wsdl:part name="parameters" element="bes-factory:RestartActivities"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RestartActivitiesResponse">
		<wsdl:part name="parameters" element="bes-factory:RestartActivitiesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="StopActivitiesRequest">
		<wsdl:part name="parameters" element="bes-factory:StopActivities"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="StopActivitiesResponse">
		<wsdl:part name="parameters" element="bes-factory:StopActivitiesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ResumeActivitiesRequest">
		<wsdl:part name="parameters" element="bes-factory:ResumeActivities"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ResumeActivitiesResponse">
		<wsdl:part name="parameters" element="bes-factory:ResumeActivitiesResponse"></wsdl:part>
	</wsdl:message>
	
	<!-- Fault Messages -->
	<wsdl:message name="NotAuthorizedFault">
		<wsdl:part name="Detail"
			element="bes-factory:NotAuthorizedFault"/>
	</wsdl:message>
	
	<wsdl:message name="NotAcceptingNewActivitiesFault">
		<wsdl:part name="Detail"
			element="bes-factory:NotAcceptingNewActivitiesFault"/>
	</wsdl:message>
	
	<wsdl:message name="UnsupportedFeatureFault">
		<wsdl:part name="Detail"
			element="bes-factory:UnsupportedFeatureFault"/>
	</wsdl:message>
	
	<wsdl:message name="CantApplyOpperationToCurrentStateFault">
		<wsdl:part name="Detail"
			element="bes-factory:CantApplyOperationToCurrentStateFault"/>
	</wsdl:message>
	
	<wsdl:message name="OperationWillBeAppliedEventuallyFault">
		<wsdl:part name="Detail"
			element="bes-factory:OperationWillBeAppliedEventuallyFault"/>
	</wsdl:message>
	
	<wsdl:message name="UnknownActivityIdentifierFault">
		<wsdl:part name="Detail"
			element="bes-factory:UnknownActivityIdentifierFault"/>
	</wsdl:message>
	
	<wsdl:message name="InvalidRequestMessageFault">
		<wsdl:part name="Detail"
			element="bes-factory:InvalidRequestMessageFault"/>
	</wsdl:message>
	
	
	<wsdl:portType name="BESFactoryPortType">
		
		<wsdl:operation name="CreateActivity">
			<wsdl:input
				name="CreateActivity"
				message="bes-factory:CreateActivityRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivity"/>
			<wsdl:output
				name="CreateActivityResponse"
				message="bes-factory:CreateActivityResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivityResponse"/>
			<wsdl:fault
				name="NotAuthorizedFault"
				message="bes-factory:NotAuthorizedFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
			<wsdl:fault
				name="NotAcceptingNewActivitiesFault"
				message="bes-factory:NotAcceptingNewActivitiesFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
			<wsdl:fault
				name="UnsupportedFeatureFault"
				message="bes-factory:UnsupportedFeatureFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
			<wsdl:fault
				name="InvalidRequestMessageFault"
				message="bes-factory:InvalidRequestMessageFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetActivityStatuses">
			<wsdl:input
				name="GetActivityStatuses"
				message="bes-factory:GetActivityStatusesRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatuses"/>
			<wsdl:output
				name="GetActivityStatusesResponse"
				message="bes-factory:GetActivityStatusesResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatusesResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
		
		<wsdl:operation name="TerminateActivities">
			<wsdl:input
				name="TerminateActivities"
				message="bes-factory:TerminateActivitiesRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivities"/>
			<wsdl:output
				name="TerminateActivitiesResponse"
				message="bes-factory:TerminateActivitiesResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivitiesResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetActivityDocuments">
			<wsdl:input
				name="GetActivityDocuments"
				message="bes-factory:GetActivityDocumentsRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocuments"/>
			<wsdl:output
				name="GetActivityDocumentsResponse"
				message="bes-factory:GetActivityDocumentsResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocumentsResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetFactoryAttributesDocument">
			<wsdl:input
				name="GetFactoryAttributesDocument"
				message="bes-factory:GetFactoryAttributesDocumentRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocument"/>
			<wsdl:output
				name="GetFactoryAttributesDocumentResponse"
				message="bes-factory:GetFactoryAttributesDocumentResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocumentResponse"/>
		</wsdl:operation>
        
        <wsdl:operation name="PersistActivities">
			<wsdl:input
				name="PersistActivities"
				message="bes-factory:PersistActivitiesRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/PersistActivities"/>
			<wsdl:output
				name="PersistActivitiesResponse"
				message="bes-factory:PersistActivitiesResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/PersistActivitiesResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
        
        <wsdl:operation name="GetStatePaths">
			<wsdl:input
				name="GetStatePaths"
				message="bes-factory:GetStatePathsRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetStatePaths"/>
			<wsdl:output
				name="GetStatePathsResponse"
				message="bes-factory:GetStatePathsResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetStatePathsResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
        
        <wsdl:operation name="RestartActivities">
			<wsdl:input
				name="RestartActivities"
				message="bes-factory:RestartActivitiesRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/RestartActivities"/>
			<wsdl:output
				name="RestartActivitiesResponse"
				message="bes-factory:RestartActivitiesResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/RestartActivitiesResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
        
        <wsdl:operation name="StopActivities">
			<wsdl:input
				name="StopActivities"
				message="bes-factory:StopActivitiesRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/StopActivities"/>
			<wsdl:output
				name="StopActivitiesResponse"
				message="bes-factory:StopActivitiesResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/StopActivitiesResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
		
		<wsdl:operation name="ResumeActivities">
			<wsdl:input
				name="ResumeActivities"
				message="bes-factory:ResumeActivitiesRequest"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/ResumeActivities"/>
			<wsdl:output
				name="ResumeActivitiesResponse"
				message="bes-factory:ResumeActivitiesResponse"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/ResumeActivitiesResponse"/>
			<wsdl:fault
				name="UnknownActivityIdentifierFault"
				message="bes-factory:UnknownActivityIdentifierFault"
				wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
		</wsdl:operation>
		
	</wsdl:portType>
</wsdl:definitions>